html {
  height: 100%;
}
#root {
  background: linear-gradient(120deg, #007bff, rgb(0, 60, 132));
}

body {
  background: #007bff;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
.App {
  text-align: center;
  padding: 0 20px 20px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  background-color: #00a3ff;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .App {
    max-width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

h1 {
  margin: 0;
  word-wrap: break-word;
}

ul {
  list-style-type: disc;
  color: white;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 5px -5px;
  border: none;
  border-radius: 5px;
}
input[type="submit"] {
  padding: 10px;
  margin: 5px -5px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  margin-inline: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.Expenses {
  background-color: #ffffffa8;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.EditExpenseForm {
  margin-top: 20px;
}

.error-message {
  color: #ff0000bd;
  margin-top: 10px;
}

.login-input {
  margin: 5px;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-signup img {
  vertical-align: middle;
  width: 35px;
  height: 30px;
  border-radius: 50px;
  margin-right: 10px;
}

.header {
  background-color: #007bff;
  color: #ffffffde;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  animation: headerFadeIn 0.5s ease-in-out;
}

@keyframes headerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleZoomIn {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.header-title {
  color: #ffffffed;
  border-radius: 0 0 20px 20px;
  font-weight: bold;
  letter-spacing: 3px;
  animation: titleZoomIn 1s ease-in-out;
}

h1,
h2 {
  font-size: 24px;
  color: #ffffffed;
}
h3,
span,
label {
  color: #ffffffed;
}

p {
  font-size: 16px;
  color: #ffffffed;
}

.debts {
  color: #ffffffed;
  font-size: 14px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
  .debts {
    font-size: 12px;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

.header a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.header a:hover {
  color: #00f;
}

.nav-right {
  float: right;
}

.questions {
  color: #f5f5f5;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

.divider {
  border: none;
  height: 4px;
  background-color: #ffffffed;
  margin: 40px 0;
  opacity: 0.7;
}

.questions-form {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  inline-size: 28.4px;
  cursor: pointer;
  margin-inline: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.edit-button:hover {
  background-color: #0056b3;
}

.edit-button a {
  color: #fff;
  text-decoration: none;
}

.custom-upload-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  margin: 1rem;
  border-radius: 5px;
  font-size: 13px;
}

.custom-upload-button:hover {
  background-color: #0056b3;
}

.image-gallery {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
  justify-items: center;
}

.image-item {
  flex: 1;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
}

.image-item:hover,
.image-item:active {
  background-color: rgba(0, 123, 255, 0.1);
  opacity: 0.8;
  border: 2px solid #007bff;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-modal-content {
  position: relative;
  background: #fff;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .image-modal-content {
    max-width: 40%;
    max-height: 80%;
  }
  .delete-button {
    margin-top: 5px;
  }
}

.close {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
}

.member-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  gap: 1rem;
}

.mobile-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member-profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.member-name {
  flex-grow: 1;
  word-break: break-word;
  text-decoration: none;
}

.rounded-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid #ffffff;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-items {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .header-items {
    display: none;
  }

  .header-items.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }
}

.header-items .menu-item {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-items .menu-item:nth-child(1) {
  background-color: #00a3ff;
  width: 11rem;
  height: 2.5rem;
  border-radius: 10px;
}

.header-items .menu-item:nth-child(2) {
  background-color: #00a3ff;
  width: 11rem;
  height: 2.5rem;
  border-radius: 10px;
}

.header-items .menu-item:nth-child(3) {
  background-color: #00a3ff;
  width: 11rem;
  height: 2.5rem;
  border-radius: 10px;
}

.header-items .menu-item:nth-child(4) {
  background-color: #00a3ff;
  width: 11rem;
  height: 2.5rem;
  border-radius: 10px;
}

.back_feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 5rem;
  text-decoration: none;
  color: #ffffffed;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.member-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff00;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 9.5rem;
  background: radial-gradient(circle, #00a3ff, #006eff94);
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.member-box img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}

.member-name {
  word-break: break-word;
  text-decoration: none;
  margin-top: 1rem;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (max-width: 610px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .member-box {
    width: 7rem;
  }
}

@media (max-width: 319px) {
  .member-box {
    width: 5rem;
  }
  .navigation {
    flex-wrap: wrap;
  }
}

svg[role="img"] {
  pointer-events: none !important;
}

.styled-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.styled-list-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
  background: radial-gradient(circle, #00a3ff, #006eff94);
  height: 100px;
}

.styled-list-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.styled-list-item span {
  flex-grow: 1;
}

.image-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 120px;
  gap: 10px;
}

.text-debt-container {
  width: 120px;
  word-break: break-all;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 605px) {
  .text-debt-container,
  .image-container {
    font-size: 12px;
    word-break: break-all;
  }
  .styled-list-item img {
    width: 40px;
    height: 40px;
  }
}

.debts-container {
  margin-top: 2rem;
}

.custom-arrow {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: transparent;
}

.custom-arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #ffffffed;
  left: 0;
  top: 0;
}

.expense-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.expense-item {
  width: calc(40% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 1px solid #ccc;
  background: radial-gradient(circle, #00a3ff, #006eff94);
}

.expense-item-squads {
  width: calc(34% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: auto;
  background: radial-gradient(circle, #00a3ff, #006eff94);
}

.expense-item,
expense-item-squads p {
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .expense-item {
    width: calc(33.33% - 10px);
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.welcome-carousel {
  background: white;
  border-radius: 8px;
  padding: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 101;
  animation: fadeIn 1s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.carousel-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.carousel-description {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.top-delete-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
  margin-left: 2rem;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.menu-icon .menu-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: max-content;
  z-index: 100;
  padding: 10px;
  background: #00a3ff;
}

.menu-icon .menu-dropdown button {
  margin: 5px;
}

.menu-icon .menu-dropdown button:hover {
  background-color: #f0f0f0;
}

.group-title {
  background-color: #007bff;
  color: #ffffffed;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  word-break: break-word;
}

.home-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  gap: 1rem;
  border: 1px solid #007bff;
  padding: 10px;
  justify-content: center;
}

.title-and-animation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
}

.currency {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
}

.password-input {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.password-input .login-input {
  padding-right: 30px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}

.upload-profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: -3px;
  right: -10px;
  cursor: pointer;
}

.upload-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 5rem;
}

.modal-activity-log {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-activity-log-main {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow-y: auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.no-scroll {
  overflow: hidden;
}
